.bg-center.bg-no-repeat.flex-stacked(
  style="background-image:url('assets/images/mobile imgs/fap_mobile.jpg');background-size: 100%;background-position: bottom center;background-color:#dcdcdc;"
)
  .page-contain-mobile.text-center
    .text-left.pad-left-4x
      .flex
        .max-width-500.min-width-200
          br
          .text-center.text-3x
            h1.margin-top-0.text-black.content-section-head
              |Frequently Asked Questions
          
          mixin arrow
            .pad-right
              .hide-show-classes.font-company-main.bg-company-main.text-black.radius-half.flex-valign-center.flex-center(
                style="width:20px;height:20px"
                class0="bg-company-main text-black"
                class1="bg-black text-company-main rotate-90"
              )
                |&gt;
          .text-left.hide-show-control.font-company-lite.child-pad-bottom.flex-stacked
            a.flex-valign.hide-show-toggle
              +arrow
              div
                |When Does the Program Start?
                .flex.hidden.hide-show-child
                  .pad-xs.text-md
                    |&bull;
                  .text-smx.pad-top Leverage agile frameworks to provide a robust synopsis for high level overviews.
            a.flex-valign.hide-show-toggle
              +arrow
              div
                |Can I keep working while studying at Trilogy Data Science and Analytics Boot Camp?
                .flex.hidden.hide-show-child
                  .pad-xs.text-md
                    |&bull;
                  .text-smx.pad-top Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            a.flex-valign.hide-show-toggle
              +arrow
              div
                |How long does it take to Complete the program?
                .flex.hidden.hide-show-child
                  .pad-xs.text-md
                    |&bull;
                  .text-smx.pad-top Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            a.flex-valign.hide-show-toggle
              +arrow
              div
                |Do you provide career placement support?
                .flex.hidden.hide-show-child
                  .pad-xs.text-md
                    |&bull;
                  .text-smx.pad-top Leverage agile frameworks to provide a robust synopsis for high level overviews.
            a.flex-valign.hide-show-toggle
              +arrow
              div
                |Do I need to have previous experience in programming or data analytics before applying?
                .flex.hidden.hide-show-child
                  .pad-xs.text-md
                    |&bull;
                  .text-smx.pad-top Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            a.flex-valign.hide-show-toggle
              +arrow
              div
                |What sets your boot camp apart from others I can join in Trilogy?
                .flex.hidden.hide-show-child
                  .pad-xs.text-md
                    |&bull;
                  .text-smx.pad-top Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
  .hide-gt-xxs.height-200
  .hide-xxs.height-300
