//Featuring
.pad-top-2x.bg-size-cover.bg-center.bg-no-repeat.flex-stacked(
  style="background-image:url('assets/images/mobile imgs/featuring_mobile.jpg');background-position: top center;background-color:#9a9a9c;"
)  
  .text-center.page-contain-mobile.text-white
    .text-3x
      h1.margin-0.content-section-head
        |Featuring
    .pad-top-2x
      img.width-200(src="assets/images/phone.png")
  
    .flex-stacked.flex-center.pad-h-2x.pad-top-2x
      .pad-v-2x
        .pad-bottom
          img.width-80(src="assets/images/icons/data_coding 2.svg")
        .font-company-lite.line-height-150
          |Learn Advanced Excel, Python, JavaScript (D3.js, Leaflet.js), HTML5/CSS, API Interactions, Social Media Mining, SQL, Tableau, Advanced Statistics, Machine Learning, R, Git/GitHub, and more.*

      .pad-v-2x
        .pad-bottom
          img.width-80(src="assets/images/icons/benefit 2.svg")
        .font-company-lite.line-height-150
          |Benefit from a wide range of career services to position you to success as you work to advance in your current career or seek a new opportunity.

      .pad-v-2x
        .pad-bottom
          img.width-80(src="assets/images/icons/time 2.svg")
        .font-company-lite.line-height-150
          |Study part-time, three days a week, while maintaining your work schedule.
      
      .pad-v-2x
        .pad-bottom
          img.width-80(src="assets/images/icons/complete_proj 2.svg")
        .font-company-lite.line-height-150
          |Complete projects using real data sets from the worlds of finance, healthcare, government, social welfare, and more - allowing you to build a strong portfolio with a professional demonstration.
    br
    .text-sm
      |*The material covered in this course is subject to change due to market demand
    br