.text-center.bg-company-lighter.page-contain-mobile
  .page-contain-2x
    br
    .width-full.pad-v-2x
      img.width-full(
        src="assets/images/logos/logo_trilogy_blk.svg"
      )
  .font-company-lite.text-sm
    div
      |This program is offered through
      br
      |aklsjfkjakasaskcjoajcn #[strong https://sld;fm;lsdf;/]
      br
      |Powered by Trilogy Education Services
      br
      |Contact l;;lkalkc Boot Camp at #[strong (xxx) xxx-xxxx]
    br
    |#[strong.bolder Terms and Conditions] | Privacy/Your Privacy Rights
    .height-30