.text-center(
  style="background-color:rgba(0,0,0,.8);"
)
  .text-white.font-company-lite.pad-v
    |To speak with an admissions advisor please call #[strong.text-company-main.nowrap (561) 123-4567]
  .pad-v
    img.width-200(
      src="assets/images/logos/logo_trilogy.svg"
    )
