.text-center.min-height-300.bg-size-cover.bg-center.bg-no-repeat(
  style="background-image:url('assets/images/mobile imgs/code_mobile_hero.jpg');"
)
  .page-contain-mobile
    br
    br
    br
    h1.text-white.margin-0
      |Learn Coding in 24 Weeks
    .text-white.text-3x.font-company-lite
      |Class starts May 15, 2018

    .flex-valign-center.height-60
      //chevron left
      a.text-white.flex-valign-center.height-20.width-30
        .pos-rel
          .pos-abs(style="bottom:10px")
            .border-white.opacity-90.border-bottom-1.width-30.rotate-135
          .pos-abs(style="bottom:-10px")
            .border-white.opacity-90.border-bottom-1.width-30.rotate-45
      .flex-1.pad-h-4x
        .border-bottom-6.border-company-main
      //chevron right
      a.text-white.flex-valign-center.height-20.width-30
        .pos-rel
          .pos-abs(style="bottom:10px")
            .border-white.opacity-90.border-bottom-1.width-30.rotate-45
          .pos-abs(style="bottom:-10px")
            .border-white.opacity-90.border-bottom-1.width-30.rotate-135

    
    .text-white.text-3x.pad-bottom
      |Coding Boot Camp equips students
      br
      |skills for full-stack web development through
      br
      |dynamic, in-person classes.

.page-contain-mobile.pad-v-2x.text-center.text-black.bg-white
  strong.text-6x GET PROGRAM INFO
  br
  .text-sm Step 1 of 3
  .flex
    .flex1.pad-right-xs.pad-bottom
      input.text-3x.underline-input.height-30.width-full(
        placeholder="First name"
      )
    .flex1.pad-left-xs.pad-bottom
      input.text-3x.underline-input.height-30.width-full(
        placeholder="Last name"
      )
  .text-white.pad-sm.bg-company-main.flex-center.flex-valign-center.hover-bg-company-light
    strong.text-4x
      |CONTINUE&nbsp;&nbsp;
    .text-white.border-2.border-white.radius-half.flex-valign-center.flex-center(
      style="width:20px;height:20px"
    )
      |&gt;