//Featuring
.bg-size-cover.bg-center.bg-no-repeat.flex-stacked(
  style="background-image:url('assets/images/featuring.jpg');"
)  
  .text-center.text-white.page-contain-2x
    br
    .flex-center
      h1.margin-0.content-section-head
        |Featuring
  
    .flex-valign-center.flex-wrap.child-pad-top-3x
      .flex1.flex-stacked.flex-center
        .max-width-300
          .pad-bottom
            img.width-60(src="assets/images/icons/data_coding 2.svg")
          .font-company-lite.text-smx.line-height-150
            mixin dataCodingContent
              |Learn Advanced Excel, Python, JavaScript (D3.js, Leaflet.js), HTML5/CSS, API Interactions, Social Media Mining, SQL, Tableau, Advanced Statistics, Machine Learning, R, Git/GitHub, and more.*
            +dataCodingContent
        div
          br
        .max-width-300
          .pad-bottom
            img.width-60(src="assets/images/icons/benefit 2.svg")
          .font-company-lite.text-smx.line-height-150
            |Benefit from a wide range of career services to position you to success as you work to advance in your current career or seek a new opportunity.
      
      .pad-h-4x
        img.width-200(src="assets/images/phone.png")
        br
        br

      .flex1.flex-stacked.flex-center
        .max-width-300
          .pad-bottom
            img.width-60(src="assets/images/icons/time 2.svg")
          .font-company-lite.text-smx.line-height-150
            .pos-rel
              .pos-abs.width-full
                |Study part-time, three days a week, while maintaining your work schedule.
            .invisible
              +dataCodingContent
        div
          br
        .max-width-300
          .pad-bottom
            img.width-60(src="assets/images/icons/complete_proj 2.svg")
          .font-company-lite.text-smx.line-height-150
            |Complete projects using real data sets from the worlds of finance, healthcare, government, social welfare, and more - allowing you to build a strong portfolio with a professional demonstration.
    br
    br
    .text-xxs
      |*The material covered in this course is subject to change due to market demand
    br