.bg-company-main.height-2
.bg-company-lighter
  .page-contain-2x.flex-valign-center
    .width-300.pad-v-3x
      img.width-full(
        src="assets/images/logos/logo_trilogy_blk.svg"
      )
    .flex-1.flex-right.font-company-lite.text-xs
      .text-right.max-width-300
        div.
          This program is offered through
          aklsjfkjakasaskcjoajcn #[strong https://sld;fm;lsdf;/]
          Powered by Trilogy Education Services
          Contact l;;lkalkc Boot Camp at #[strong (xxx) xxx-xxxx]
        br
        |#[strong.bolder Terms and Conditions] | Privacy/Your Privacy Rights
