.height-100.flex-valign-center(
  style="background-color:rgba(0,0,0,.8);"
)
  .flex-1.flex-valign-center.page-contain
    .flex-1
      img.width-200(
        src="assets/images/logos/logo_trilogy.svg"
      )
    .text-white.text-right.font-company-lite
      |To speak with an
      div admissions advisor please call #[strong.text-company-main.nowrap (561) 123-4567]
