script.
  function toggleClass(dom, name){
    if( hasClass(dom,name) ){
      removeClass(dom, name)
    }else{
      dom.className = dom.className+' '+name
    }
  }

  function getClasses(dom,name){
    return Array.prototype.slice.apply( dom.getElementsByClassName(name) )
  }
  
  function getClassIndex(dom,name){
    return dom.className.split(' ').indexOf(name)
  }

  function hasClass(dom,name){
    return getClassIndex(dom,name)>=0
  }

  function removeClass(dom,name){
    var array = dom.className.split(' ')
    array.splice( getClassIndex(dom,name), 1 )
    return dom.className = array.join(' ')
  }

  function hideShowByToggle( toggle ){
    var classChanges = getClasses(toggle,'hide-show-classes')
    classChanges.forEach(function(item){
      item.toggleCycle = item.toggleCycle && ++item.toggleCycle || 1

      if( item.toggleCycle % 2 ){
        var class0 = item.getAttribute('class0')
        var class1 = item.getAttribute('class1')
      }else{
        var class0 = item.getAttribute('class1')
        var class1 = item.getAttribute('class0')
      }

      class0.split(' ').forEach(function(name){
        removeClass(item,name)
      })

      class1.split(' ').forEach(function(name){
        item.className = item.className + ' '+name
      })
    })

    var areas = getClasses(toggle,'hide-show-child')
    areas.forEach(function(area){
      toggleClass(area,'hidden')
    })
  }

  (function(){
    var controls = getClasses(document,'hide-show-control')
    controls.forEach(function(con){
      var toggles = getClasses(con,'hide-show-toggle')
      toggles.forEach(function(toggle){
        toggle.addEventListener('click', function(event){
          hideShowByToggle(toggle)
        })
      })
    })
  })()
